<div class="row">
    <div class="col-xs-12 text-center mar-btm">
        <button class="btn btn-primary btn-labeled fa fa-chevron-down" ng-click="vm.createPdf()">
            Descargar
        </button>
        <div class="btn-group">
            <button class="btn btn-default"><i class="fa fa-print"></i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="prescription" class="panel prescription">
            <!--Data Table-->
            <!--===================================================-->
            <div class="panel-body">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="invoice-title">
                                <h2>Receta</h2><h3 class="pull-right">#{{vm.treatment._id}}</h3>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-6">
                                    <address>
                                        <strong>Médico Solicitante:</strong><br>
                                        {{vm.treatment.doctor.name}}<br>
                                        MN: {{vm.treatment.doctor.mn}}<br>
                                        MN: {{vm.treatment.doctor.mp}}<br>
                                        {{vm.treatment.doctor.email}}
                                    </address>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <address>
                                        <strong>Paciente:</strong><br>
                                        {{vm.treatment.patient.name}}<br>
                                        DNI: {{vm.treatment.patient.dni}}<br>
                                        Nº: {{vm.treatment.patient.socialInsuranceNumber}}<br>
                                        Tipo Convenio: {{vm.treatment.patient.agreementType.name}}
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <address>
                                        <strong>Código Tratamiento:</strong><br>
                                        {{vm.treatment._id}}<br><br>
                                    </address>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <address>
                                        <strong>Fecha:</strong><br>
                                        {{vm.treatment.lastUpdateDate | date:'dd-MM-yyyy'}}<br><br>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Detalle de Medicamentos</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive" ng-if="vm.treatment">
                                        <datatable parameters="vm.drugsTable" object="vm.treatment.drugs"></datatable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Data Table-->

        </div>

    </div>
</div>
