<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">

                <datatable parameters="vm.parameters"></datatable>

                <autoform parameters="vm.autoform" object="vm.object"></autoform>

                <div class="text-right">
                    <button class="btn btn-primary" ng-disabled="vm.autoform.isSaving" ng-click="vm.submit()">Registrarse</button>
                    <a class="btn btn-default" ng-disabled="vm.autoform.isSaving" ng-click="vm.autoform.resetForm()">Cancelar</a>
                </div>


                <!-- Test TypeAhead -->
                <input type="text" ng-model="vm.selected" class="form-control" uib-typeahead="address.name for address in vm.getLocation($viewValue)">

            </div>
        </div>


    </div>
</div>
