<fieldset ng-disabled="vm.autoform.isSaving">
    <div ng-class="{'row row-equal-height' : vm.autoform.formGroupClass}">
        <div class="form-group {{vm.autoform.formGroupClass}}" ng-repeat="field in vm.metadata.fields"
             ng-class="{ 'has-success': vm.autoform.form[field.field].$valid && (vm.autoform.form[field.field].$dirty || vm.autoform.submitted),
                                            'has-error': vm.autoform.form[field.field].$invalid && (vm.autoform.form[field.field].$dirty || vm.autoform.submitted)}">
            <label class="col-sm-4 control-label">{{field.title}}</label>
            <div class="col-sm-7 mar-btm">
                <ng-include src="'components/directives/autoform/templates/partials/input.html'"></ng-include>
                <ng-include src="'components/directives/autoform/templates/partials/help-block.html'"></ng-include>
            </div>
        </div>
    </div>
</fieldset>
