<input ng-if="!vm.list && (field.controlType == 'input' || field.type == 'typeahead')" ng-model="vm.$scope.object[field.field]" autoinput>

<select ng-if="!vm.list && (field.controlType == 'object' && field.type == 'select')" ng-model="vm.$scope.object[field.field]" autoinput>
    <option value="">Seleccionar</option>
</select>

<textarea ng-if="!vm.list && (field.controlType == 'textarea')" ng-model="vm.$scope.object[field.field]" autoinput></textarea>

<input ng-if="vm.list && (field.controlType == 'input' || field.type == 'typeahead')" ng-model="vm.$scope.object[vm.listfield][field.field]" autoinput>

<select ng-if="vm.list && (field.controlType == 'object' && field.type == 'select')" ng-model="vm.$scope.object[vm.listfield][field.field]" autoinput>
    <option value="">Seleccionar</option>
</select>

<textarea ng-if="vm.list && (field.controlType == 'textarea')" ng-model="vm.$scope.object[vm.listfield][field.field]" autoinput></textarea>
