<div class="form-group" ng-class="{ 'has-success': form.mn.$valid && (form.mn.$dirty || vm.submitted),
                                            'has-error': form.mn.$invalid && (form.mn.$dirty || vm.submitted)}">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user-md"></i></i></div>
        <input type="number" class="form-control" min="1" max="99999999" step="1" required
               ng-model="vm.user.mn" placeholder="Matricula Nacional" name="mn">
    </div>
    <p class="help-block" ng-show="form.mn.$invalid && (form.mn.$dirty || vm.submitted)">
        <span ng-show="form.mn.$error.required">El campo es requerido</span>
        <span ng-show="form.mn.$error.max">Máximo 8 dígitos</span>
        <span ng-show="form.mn.$error.min">El valor mínimo es 1</span>
    </p>
</div>
