<div class="treatment-container">
    <div class="row">
        <div class="col-xs-12 mar-btm">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-control">
                        <a class="btn btn-info" ng-if="!vm.isAdmin" href="/treatments/update/{{vm.treatment._id}}" ui-sref="treatments.action({'action': 'update', 'id' : vm.treatment._id})" uib-tooltip="Modificar" tooltip-placement="top">
                            <i class="fa fa-pencil fa-2x"></i>
                        </a>
                        <a class="btn btn-info" ng-click="vm.createPdf()" uib-tooltip="Descargar PDF" tooltip-placement="top">
                            <i class="fa fa-download fa-2x"></i>
                        </a>
                        <!-- <a class="btn btn-info" onclick="window.print();return false" uib-tooltip="Imprimir" tooltip-placement="top">
                            <i class="fa fa-print fa-2x"></i>
                        </a>-->
                        <a class="btn btn-info" ng-click="vm.collapseActions = !vm.collapseActions" uib-tooltip="Ver Historial de Estados" tooltip-placement="top">
                            <i class="text-thin fa fa-2x " ng-class="vm.collapseActions ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">{{vm.actionsTitle}}</h3>
                </div>

                <div uib-collapse="vm.collapseActions" class="panel-body">
                    <div class="row">
                        <div ng-if="vm.isAdmin" class="col-md-5">
                            <div ng-if="vm.autoformResult" class="table-responsive">
                                <autoform parameters="vm.autoformResult" object="vm.result"></autoform>
                            </div>
                        </div>
                        <div class="col-md-7" ng-class="{'col-md-7' : (vm.isAdmin), 'col-md-12' : (!vm.isAdmin)}">
                            <div ng-if="vm.stateHistoryTable" class="table-responsive table-condensed">
                                <datatable parameters="vm.stateHistoryTable"></datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="prescription" class="panel treatment">
                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="invoice-title">
                                    <h2>Tratamiento</h2>
                                    <h3 class="pull-right">#{{vm.treatment._id}}</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <address>
                                            <strong>Médico Solicitante:</strong><br>
                                            {{vm.treatment.doctor.name}}<br>
                                            M: {{vm.treatment.doctor.ma}}<br>
                                            ME: {{vm.treatment.doctor.me}}<br>
                                            {{vm.treatment.doctor.email}}
                                        </address>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <address>
                                            <strong>Paciente:</strong><br>
                                            {{vm.treatment.patient.name}}<br>
                                            DNI: {{vm.treatment.patient.dni}}<br>
                                            Nº: {{vm.treatment.patient.socialInsuranceNumber}}<br>
                                            Tipo Convenio: {{vm.treatment.patient.agreementType.name}}
                                        </address>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <address>
                                            <strong>Código Tratamiento:</strong><br>
                                            {{vm.treatment._id}}<br><br>
                                        </address>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <address>
                                            <strong>Fecha:</strong><br>
                                            {{vm.treatment.lastUpdateDate | date:'dd-MM-yyyy'}}<br><br>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default drugs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><strong>Enfermedad</strong></h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table  table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Diagnóstico Topográfico</th>
                                                <th>Diagnóstico Histológico</th>
                                                <th>Estadío</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{vm.treatment.diseaseTopographicDiagnosis.name}}</td>
                                                <td>{{vm.treatment.diseaseHistologicalDiagnosis}}</td>
                                                <td>{{vm.treatment.diseaseStage.name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel panel-default drugs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><strong>Tratamiento</strong></h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table  table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Fecha Probable</th>
                                                <th>Ciclo Actual</th>
                                                <th>Cantidad de Ciclos</th>
                                                <th>Esquema</th>
                                                <th>Altura</th>
                                                <th>Peso</th>
                                                <th>Sup Corporal</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{vm.treatment.treatmentType.name}}</td>
                                                <td>{{vm.treatment.treatmentExpectedDate | date:'dd-MM-yyyy'}}</td>
                                                <td>{{vm.treatment.treatmentActualCicle}}</td>
                                                <td>{{vm.treatment.treatmentCyclesQuantity}}</td>
                                                <td>{{vm.treatment.treatmentSchema}}</td>
                                                <td>{{vm.treatment.treatmentHeight}}</td>
                                                <td>{{vm.treatment.treatmentWeight}}</td>
                                                <td>{{vm.treatment.treatmentBodySurface}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel panel-default drugs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><strong>Drogas</strong></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive" ng-if="vm.treatment">
                                            <datatable parameters="vm.drugsTable" object="vm.treatment.drugs"></datatable>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default drugs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><strong>Observación</strong></h3>
                                    </div>
                                    <div class="panel-body">
                                        {{vm.treatment.observation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
            <div ng-if="vm.uploadedFiles" class="well well-sm files-preview">
                    <a href="{{image.path}}" target="_blank" ng-repeat="image in vm.uploadedFiles" class="file-preview thumbnail" >
                        <img ng-if="(['png', 'gif', 'jpeg', 'bmp', 'jpg'].indexOf(image.type) > -1)"  ng-src="{{image.path}}" />
                        <div class="dz-thumbnail-file" ng-if="(['png', 'gif', 'jpeg', 'bmp', 'jpg'].indexOf(image.type) == -1)">
                            <i class="dz-preview dz-image-preview fa fa-5x fa-file-pdf-o" ></i> <br />
                            <span>{{ image.name | limitTo: 20 }}{{image.name.length > 20 ? '...' : ''}}</span>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>
