.treatment-container {
    max-width: 900px;
    margin: 0 auto;
    .ng-table-pager {
        display: none;
    }
}

.treatment {
    font-size: 15px;

    .panel-heading{
        height: 35px;
    }
    .panel-title {
        line-height: 35px;
    }
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }
    .table {
        margin-bottom: 0;
    }
    .table > tbody > tr {
        .no-line {
            border-top: none;
        }
        .thick-line {
            border-top: 2px solid;
        }
    }
    .table > thead > tr > .no-line {
        border-bottom: none;
    }
    &.scaled-element {
        transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        -webkit-transform: scale(1.5,1.5);
    }
    .ng-table-pager {
        display: none;
    }
}

.drugs {
    font-size: 13px;
    .panel-body {
        padding: 10px;
    }
}



.files-preview {
    .file-preview {
        display: inline-block;
        max-width: 100px;
        max-height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
    .file-preview:hover {
        display: inline-block;
        max-width: 100px;
        max-height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}
