<header id="navbar">
    <div id="navbar-container" class="boxed">

        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">
                <img src="assets/images/logo.png" alt="SACP Logo" class="brand-icon">
                <div class="brand-title">
                    <span class="brand-text">S.A.C.P.</span>
                </div>
            </a>
        </div>
        <!--================================-->
        <!--End brand logo & name-->

        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content clearfix">
            <ul ng-show="nav.isLoggedIn" class="nav navbar-top-links pull-left">

                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" ng-click="nav.toggleMainNav()" href>
                        <i class="fa fa-navicon fa-lg"></i>
                    </a>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Navigation toogle button-->

                <!--Messages Dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li ng-if="nav.pendingTreatments.total > 0" class="dropdown" uib-dropdown on-toggle="toggled(open)">
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-bell fa-lg"></i>
                        <span class="badge badge-header badge-danger">{{nav.pendingTreatments.total}}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-md with-arrow panel-default" uib-dropdown-menu>
                        <div class="pad-all bord-btm">
                            <p class="text-lg text-muted text-thin mar-no">
                                Tienes {{nav.pendingTreatments.total}}
                                <ng-pluralize count="nav.pendingTreatments.total" when="{'1': 'tratamiento pendiente', 'other': 'tratamientos pendientes'}"></ng-pluralize>
                            </p>
                        </div>
                        <!-- User dropdown menu -->
                        <ul class="head-list">
                            <!-- Dropdown list-->
                            <li ng-repeat="treatment in nav.pendingTreatments.docs">
                                <a href="#" class="media" ui-sref="treatments.view({'id' : treatment._id})">
                                    <div class="media-left">
                                        <span class="icon-wrap icon-circle" ng-class="{'bg-gray' : treatment.state._id === 'EE',
                                                                                        'bg-primary' : treatment.state._id === 'EA',
                                                                                        'bg-warning' : treatment.state._id === 'PA'}">
                                            <i class="flaticon-medical-briefcase fa-lg"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <div class="text-nowrap"><strong>#{{treatment._id}}</strong> para {{treatment.patient.name}}</div>
                                        <small class="text-muted">{{treatment.state.name}}</small>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>


                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End message dropdown-->

            </ul>
            <ul class="nav navbar-top-links pull-right">

                <li ng-hide="nav.isLoggedIn" ui-sref-active="active" class="dropdown">
                    <a href="/register" ui-sref="signup">
                        <i class="fa fa-user-plus fa-fw fa-lg"></i> Registro
                    </a>
                </li>

                <li ng-hide="nav.isLoggedIn" ui-sref-active="active" class="dropdown">
                    <a href="/login" ui-sref="login">
                        <i class="fa fa-sign-in fa-fw fa-lg"></i> Login
                    </a>
                </li>

                <!--User dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li ng-show="nav.isLoggedIn" id="dropdown-user" class="dropdown" uib-dropdown on-toggle="toggled(open)">
                    <a class="dropdown-toggle text-right" uib-dropdown-toggle>
                        <span class="pull-right">
                            <img class="img-circle img-user media-object" src="assets/images/av1.png" alt="Profile Picture">
                        </span>
                        <div class="username hidden-xs">{{ nav.getCurrentUser.name }}</div>
                    </a>

                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right with-arrow panel-default" uib-dropdown-menu>

                        <!-- User dropdown menu -->
                        <ul class="head-list">
                            <li ng-show="nav.isLoggedIn" ui-sref-active="active">
                                <a href="/profile/doctor/{{nav.getCurrentUser._id}}" ui-sref="profile({'type': 'doctor', 'id': '{{nav.getCurrentUser._id}}'})">
                                    <i class="fa fa-user fa-fw fa-lg"></i> Mi Perfil
                                </a>
                            </li>
                            <li ng-show="nav.isLoggedIn" ui-sref-active="active">
                                <a href="/settings" ui-sref="settings">
                                    <i class="fa fa-asterisk fa-fw fa-lg"></i> Cambiar Contraseña
                                </a>
                            </li>
                        </ul>

                        <!-- Dropdown footer -->
                        <div ng-show="nav.isLoggedIn" ui-sref-active="active" class="pad-all text-right">
                            <a ui-sref="logout" href="#" class="btn btn-primary">
                                <i class="fa fa-sign-out fa-fw"></i> Salir
                            </a>
                        </div>
                    </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End user dropdown-->

            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>
