.btn-group {
    .btn {
        margin: 0 4px;
    }
}

.datatable {
    position: relative;
}

.datatable-filter {
    position: absolute;
    padding: 1px 5px;
    right: 0px;
    top: 7px;
}

.datatable-table th:last-child {
    padding-right: 18px;
}

.ng-table-filters th {
    padding: 6px !important;
}

.ng-table th.filter .input-filter {
    min-height: 25px;
    padding: 3px 8px;
    max-width: 150px;
}

.table-actions {
    max-width: 90px;
    min-width: 89px;
}
