<div class="datatable" ng-if="vm.loadedData">
    <a ng-click="vm.showFilters=!vm.showFilters" class="btn btn-xs btn-info datatable-filter" uib-tooltip="Filtrar" tooltip-placement="left"><i class="fa fa-filter"></i></a>
    <table ng-table-dynamic="vm.datatable.ngtable with vm.cols" class="table table-striped table-hover table-responsive datatable-table" ng-class="vm.datatable.tableClass" show-filter="vm.showFilters">
        <tr ng-repeat="row in $data">
            <td ng-repeat="col in $columns" demo-bind-compiled-html="col.getValue(this, row)"></td>
        </tr>
    </table>
</div>
