	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/Flaticon.eot");
  src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/Flaticon.woff") format("woff"),
       url("../assets/fonts/Flaticon.ttf") format("truetype"),
       url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-atom:before { content: "\f100"; }
.flaticon-atom-1:before { content: "\f101"; }
.flaticon-atom-2:before { content: "\f102"; }
.flaticon-atomic-bond:before { content: "\f103"; }
.flaticon-bottle-of-chemical-elements:before { content: "\f104"; }
.flaticon-bottle-of-pills:before { content: "\f105"; }
.flaticon-calculator:before { content: "\f106"; }
.flaticon-chemistry-lab-instrument:before { content: "\f107"; }
.flaticon-chemistry-lab-instrument-1:before { content: "\f108"; }
.flaticon-chemistry-lab-instrument-2:before { content: "\f109"; }
.flaticon-chemistry-lab-instruments:before { content: "\f10a"; }
.flaticon-chemistry-lab-instruments-1:before { content: "\f10b"; }
.flaticon-chemistry-lab-instruments-2:before { content: "\f10c"; }
.flaticon-chemistry-lab-instruments-3:before { content: "\f10d"; }
.flaticon-chemistry-lab-instruments-4:before { content: "\f10e"; }
.flaticon-dna-strand:before { content: "\f10f"; }
.flaticon-doctor:before { content: "\f110"; }
.flaticon-doctor-with-stethoscope:before { content: "\f111"; }
.flaticon-electrodes:before { content: "\f112"; }
.flaticon-glasses-with-circular-lenses:before { content: "\f113"; }
.flaticon-magnet:before { content: "\f114"; }
.flaticon-magnifying-glass:before { content: "\f115"; }
.flaticon-mathematical-operations:before { content: "\f116"; }
.flaticon-medical-briefcase:before { content: "\f117"; }
.flaticon-medical-cross:before { content: "\f118"; }
.flaticon-medicine-bottle:before { content: "\f119"; }
.flaticon-mercury-thermometer:before { content: "\f11a"; }
.flaticon-mercury-thermometer-1:before { content: "\f11b"; }
.flaticon-microscope:before { content: "\f11c"; }
.flaticon-new-document:before { content: "\f11d"; }
.flaticon-nurse:before { content: "\f11e"; }
.flaticon-open-pill:before { content: "\f11f"; }
.flaticon-oscilloscope:before { content: "\f120"; }
.flaticon-oscilloscope-1:before { content: "\f121"; }
.flaticon-pharmacy:before { content: "\f122"; }
.flaticon-pills:before { content: "\f123"; }
.flaticon-planet-saturn:before { content: "\f124"; }
.flaticon-research-telescope:before { content: "\f125"; }
.flaticon-risk-of-death:before { content: "\f126"; }
.flaticon-robot:before { content: "\f127"; }
.flaticon-rocket:before { content: "\f128"; }
.flaticon-satellite-dish:before { content: "\f129"; }
.flaticon-spotlight:before { content: "\f12a"; }
.flaticon-syringe:before { content: "\f12b"; }
.flaticon-syringe-1:before { content: "\f12c"; }
.flaticon-tachometer:before { content: "\f12d"; }
.flaticon-telescope:before { content: "\f12e"; }
.flaticon-tower-and-fumes:before { content: "\f12f"; }
.flaticon-ufo:before { content: "\f130"; }
.flaticon-weight:before { content: "\f131"; }
