/**
 * App-wide Styles
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 *  Main Styles
 */

.cls-header {
    background-color: #0ba0b5;
}

.cls-container {
    background-color: #e7ebee;
    color: #515151;
}

.cls-header {
    margin-bottom: 10px;
}

.cls-content {
    padding-top: 18vh;
}
.cls-content a,
.cls-content a:hover,
.cls-content a:focus {
    color: #0a8b9d;
}

.chosen-choices li input {
    width: 350% !important;
}

#content-container {
    padding-bottom: 35px !important;
}

@media (min-width: 1200px) {
    #mainnav-menu .list-header,
    #mainnav-menu .list-divider,
    #mainnav-menu .menu-title,
    #mainnav-menu .arrow,
    #mainnav-menu .menu-title > .label {
        transition: initial;
    }
}

@media (min-width: 992px) {
    #page-content {
        padding: 10px 25px 0;
    }
}

@media (min-width: 768px) {
    .cls-content .cls-content-lg {
        width: 460px;
    }
}


#mainnav-container {
    z-index: initial;
}

.ng-table th {
    text-align: left;
}

.badge {
    padding: 2px 6px;
    vertical-align: top;
}

select.form-control {
    height: 28px;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}
