.sweet-alert {
    border-radius: 2px;
    width: 400px;
    margin-left: -200px;
    padding: 5px;
    h2 {
        font-weight: 400;
        font-size: 20px;
        margin-top: 26px;
    }
    .lead {
        font-size: 14px;
    }
}
