<!-- Add your site or application content here -->
<div id="container" class="effect  mainnav-lg">
    <navbar></navbar>
    <div class="boxed">
        <div id="content-container">

            <div id="page-title">
                <a class="btn btn-default bord-no btn-sm btn-back" onclick="history.back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver</a>

                <h1 class="page-header text-overflow" ncy-breadcrumb-last></h1>

                <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Buscar..">
							<span class="input-group-btn">
								<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
							</span>
                    </div>
                </div>
            </div>

            <!--<div ncy-breadcrumb></div>-->


            <div id="page-content">
                <div class="inner-view" ui-view></div>
            </div>

        </div>

        <mainnav></mainnav>


    </div>
</div>
