<!-- Add your site or application content here -->
<div id="container" class="effect mainnav-lg">
    <navbar></navbar>
    <div class="boxed">
        <div id="content-container">

            <div id="page-title">
                <h1 class="page-header text-overflow">Off-Canvas Navigation</h1>

                <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..">
							<span class="input-group-btn">
								<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
							</span>
                    </div>
                </div>
            </div>

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>

            <div id="page-content">
                <div ui-view></div>
            </div>

        </div>

        <mainnav></mainnav>

    </div>
    <footer></footer>
</div>
