<div class="row">
    <div class="col-md-12">
        <div ng-if="vm.loadedData" class="panel">
            <multi-step-container steps="vm.steps" class="sliding-steps simple-prev-next" search-id="'step'"
                                  on-step-change="vm.stepChange($getActiveIndex(), $getActiveStep().hasForm)">
                <head>

                    <!--Nav-->
                    <ul class="wz-nav-off wz-icon-inline wz-classic wz-5">
                        <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==1)}">
                            <a href ng-click="$setActiveIndex(1)">
                                <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i class="fa fa-user"></i></span>
                                Paciente
                            </a>
                        </li>
                        <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==2)}">
                            <a href ng-click="$setActiveIndex(2)">
                                <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                    class="flaticon-spotlight"></i></span> Enfermedad
                            </a>
                        </li>
                        <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==3)}">
                            <a href ng-click="$setActiveIndex(3)">
                                <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                    class="flaticon-medical-briefcase"></i></span> Tratamiento
                            </a>
                        </li>
                        <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==4)}">
                            <a href ng-click="$setActiveIndex(4)">
                                    <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                        class="flaticon-medicine-bottle"></i></span>
                                Drogas
                            </a>
                        </li>
                        <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==4)}">
                            <a href ng-click="$setActiveIndex(5)">
                                    <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                        class="fa fa-check-square-o"></i></span>
                                Confirmar
                            </a>
                        </li>
                    </ul>
                    <!--Progress bar-->
                    <div class="progress progress-md progress-striped active">
                        <div class="progress-bar progress-bar progress-bar-info"
                             style="width: {{vm.progressBarWidth}}"></div>
                    </div>

                </head>

                <div class="panel-body">
                    <step-container></step-container>
                </div>


                <!--Footer button-->
                <div class="panel-footer text-right">
                    <div class="box-inline">
                        <button class="btn btn-info" ng-disabled="$isFirst()" ng-click="$previousStep()">Atras
                        </button>
                        <button class="btn btn-info" ng-if="!$isLast()" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid) || !vm.validStep" ng-click="$nextStep()">Siguiente
                        </button>
                        <button class="btn btn-info" ng-if="$isLast() && vm.action != 'view'" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid) || !vm.validStep" ng-click="vm.finish()">Enviar
                        </button>
                    </div>
                </div>


            </multi-step-container>
        </div>

    </div>
</div>
<div ng-if="vm.action !== 'add'" class="row">
    <div class="col-md-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Historial</h3>
            </div>
            <div class="panel-body">
                <div ng-if="vm.stateHistoryTable" class="table-responsive">
                    <datatable parameters="vm.stateHistoryTable"></datatable>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Revisión Auditor</h3>
            </div>
            <div class="panel-body">
                <div ng-if="vm.autoformResult" class="table-responsive">
                    <autoform parameters="vm.autoformResult" object="vm.result"></autoform>
                </div>
            </div>
        </div>
    </div>
</div>
