<div class="row">
    <div class="col-md-9">
        <div class="panel">
                <multi-step-container steps="vm.steps" class="sliding-steps simple-prev-next" search-id="'step'"
                                      on-cancel="vm.cancel()" on-finish="vm.finish()"
                                      on-step-change="vm.stepChange($getActiveIndex())">
                    <head>

                        <!--Nav-->
                        <ul class="wz-nav-off wz-icon-inline wz-classic wz-5">
                            <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==1)}">
                                <a href ng-click="$setActiveIndex(1)">
                                    <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i class="fa fa-user"></i></span>
                                    Paciente
                                </a>
                            </li>
                            <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==2)}">
                                <a href ng-click="$setActiveIndex(2)">
                                <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                    class="flaticon-spotlight"></i></span> Enfermedad
                                </a>
                            </li>
                            <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==3)}">
                                <a href ng-click="$setActiveIndex(3)">
                                <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                    class="flaticon-medical-briefcase"></i></span> Tratamiento
                                </a>
                            </li>
                            <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==4)}">
                                <a href ng-click="$setActiveIndex(4)">
                                    <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                        class="flaticon-medicine-bottle"></i></span>
                                    Drogas
                                </a>
                            </li>
                            <li class="col-xs-2 bg-primary ng-animate-disabled" ng-class="{'active':($getActiveIndex()==4)}">
                                <a href ng-click="$setActiveIndex(5)">
                                    <span class="icon-wrap icon-wrap-xs bg-trans-dark"><i
                                        class="fa fa-check-square-o"></i></span>
                                    Confirmar
                                </a>
                            </li>
                        </ul>
                        <!--Progress bar-->
                        <div class="progress progress-md progress-striped active">
                            <div class="progress-bar progress-bar progress-bar-info"
                                 style="width: {{vm.progressBarWidth}}"></div>
                        </div>

                    </head>

                    <!--Form-->
                    <form class="mar-top form-horizontal" novalidate>
                        <div class="panel-body">
                            <step-container></step-container>
                        </div>


                        <!--Footer button-->
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button class="btn btn-info" ng-disabled="$isFirst()" ng-click="$previousStep()">Atras
                                </button>
                                <button class="btn btn-info" ng-disabled="$isLast()" ng-click="$nextStep()">Siguiente
                                </button>
                            </div>
                        </div>
                    </form>

                </multi-step-container>
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Historial</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Observación</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>12/10/2015</td>
                            <td><span class="label label-primary">En Auditoría</span></td>
                            <td>Carga Inicial</td>
                        </tr>
                        <tr>
                            <td>13/10/2015</td>
                            <td><span class="label label-warning">Pausado</span></td>
                            <td>Requiere agregar información de estudios</td>
                        </tr>
                        <tr>
                            <td>15/10/2015</td>
                            <td><span class="label label-primary">En Auditoría</span></td>
                            <td>Agregada imágenes estudios</td>
                        </tr>
                        <tr>
                            <td>20/10/2015</td>
                            <td><span class="label label-success">Aprobado</span></td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
