<div class="row">
    <div class="col-md-2 mw-80">
        <div class="text-center pad-btm">
            <img ng-if="vm.entity == 'doctors'" src="assets/images/av1.png" class="img-md img-border img-circle" alt="Profile Picture">
            <img ng-if="vm.entity == 'patients'" src="assets/images/av2.png" class="img-md img-border img-circle" alt="Profile Picture">
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-2x text-overflow mar-no">{{vm.object.name}}</h2>
        <p class="text-lg">DNI: {{vm.object.dni}}</p>
    </div>
    <div class="col-md-7">
        <ul class="list-group bg-trans">

            <!-- Profile Details -->
            <li class="list-group-item list-item-sm col-md-6">
                <i class="fa fa fa-credit-card fa-fw"></i> Nº Obra Social: MA898654987
            </li>
            <!-- Profile Details -->
            <li class="list-group-item list-item-sm col-md-6">
                <i class=fa-fw">TC</i> Tipo Convenio: DOSEP
            </li>
            <!-- Profile Details -->
            <li class="list-group-item list-item-sm col-md-6">
                <i class="fa fa fa-home fa-fw"></i> Domicilio: MA898654987
            </li>
            <!-- Profile Details -->
            <li class="list-group-item list-item-sm col-md-6">
                <i class="fa fa fa-phone fa-fw"></i> Teléfono: 3689-698548
            </li>
        </ul>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Tratamientos Solicitados</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <datatable parameters="vm.treatmentsTable"></datatable>
                </div>
            </div>
        </div>
    </div>
</div>
