/**
 * App-wide Styles
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 *  Main Styles
 */

.cls-header {
    background-color: #0ba0b5;
}

.cls-container {
    background-color: #e7ebee;
    color: #515151;
}

.cls-header {
    margin-bottom: 10px;
}

.cls-content {
    padding-top: 18vh;
}
.cls-content a, .cls-content a:hover, .cls-content a:focus {
    color: #0a8b9d;
}

.chosen-choices li input {
    width: 350% !important;
}

#content-container {
    padding-bottom: 35px !important;
}

@media (min-width: 1200px) {
    #mainnav-menu .list-header, #mainnav-menu .list-divider, #mainnav-menu .menu-title, #mainnav-menu .arrow, #mainnav-menu .menu-title > .label {
        transition: initial;
    }
}

@media (min-width: 992px) {
    #page-content {
        padding: 10px 25px 0;
    }
}

@media (min-width: 768px) {
    .cls-content .cls-content-lg {
        width: 460px;
    }
}


#mainnav-container {
    z-index: initial;
}

.ng-table th {
    text-align: left;
}

.badge {
    padding: 2px 6px;
    vertical-align: top;
}

select.form-control {
    height: 28px;
}

.effect-slide {
    transition: all .4s linear;
    max-height: 400px;
    overflow: hidden;
    opacity: 1;
    &.ng-hide {
        max-height: 0;
        min-height: 0;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        border-bottom-width: 0;
    }
}

.inner-view {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .5s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}

.form-short {
    .form-group {
        margin: 5px 0;
    }
    .help-block {
        font-size: 11px;
        line-height: 12px;
        margin: 3px 0 0;
    }
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
        > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    }
    .btn {
        margin: 5px 0 0;
    }
}
