<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <uib-tabset active="active" class="tab-animation">
                    <uib-tab index="0" classes="fade">
                        <uib-tab-heading>
                            <i class="flaticon-doctor-with-stethoscope"></i> Médicos Activos
                        </uib-tab-heading>

                        <div ng-table="vm.activeDoctorsTable" class="table table-responsive" show-filter="true">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Mail</th>
                                    <th>MN</th>
                                    <th>MP</th>
                                    <th>Resetear Clave</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in $data">
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-xs" uib-tooltip="Ver" tooltip-placement="top"
                                               tooltip-append-to-body="true"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-xs" uib-tooltip="Modificar" tooltip-placement="top"
                                               tooltip-append-to-body="true"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-xs" uib-tooltip="Eliminar" tooltip-placement="top"
                                               tooltip-append-to-body="true"><i class="fa fa-times"></i></a>
                                        </div>
                                    </td>
                                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                        {{user.name}}
                                    </td>
                                    <td title="'Mail'" filter="{ email: 'text'}" sortable="'email'">
                                        {{user.email}}
                                    </td>
                                    <td title="'MN'" filter="{ mn: 'number'}" sortable="'mn'">
                                        {{user.mn}}
                                    </td>
                                    <td title="'MP'" filter="{ mp: 'number'}" sortable="'mp'">
                                        {{user.mp}}
                                    </td>
                                    <td><a class="btn btn-xs btn-warning"><i class="fa fa-key"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </uib-tab>
                    <uib-tab index="1" select="alertMe()" classes="fade">
                        <uib-tab-heading>
                            Solicitudes <span class="badge badge-warning">{{vm.countNotActiveUsers}}</span>
                        </uib-tab-heading>

                        <div ng-table="vm.notActiveDoctorsTable" class="table table-responsive" show-filter="true">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Mail</th>
                                    <th>MN</th>
                                    <th>MP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in $data">
                                    <td>
                                        <a class="btn btn-xs btn-success" ng-click="vm.activateUser(user)">
                                            <i class="fa fa-check-square"></i> Activar
                                        </a>
                                        <a class="btn btn-xs btn-danger" ng-click="vm.deleteUser(user)">
                                            <i class="fa fa-times"></i>Cancelar
                                        </a>
                                    </td>
                                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                        {{user.name}}
                                    </td>
                                    <td title="'Mail'" filter="{ email: 'text'}" sortable="'email'">
                                        {{user.email}}
                                    </td>
                                    <td title="'MN'" filter="{ mn: 'number'}" sortable="'mn'">
                                        {{user.mn}}
                                    </td>
                                    <td title="'MP'" filter="{ mp: 'number'}" sortable="'mp'">
                                        {{user.mp}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>


    </div>
</div>
