<div class="cls-content-sm panel">
    <div class="panel-body">
        <p class="pad-btm">Recuperar su cuenta</p>
        <form name="form" ng-submit="vm.recover(form)" novalidate ng-show="!vm.success">


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                    <input type="password" name="password" class="form-control" ng-model="vm.password"
                           placeholder="Ingrese su nueva contraseña" required ng-minlength="6">
                </div>
            </div>
            <div class="form-group has-error">
                <p class="help-block" ng-show="form.password.$error.required && form.password.$error.required && vm.submitted">
                    Debes completar los campos.
                </p>
                <p class="help-block" ng-show="form.password.$error.minlength && vm.submitted">
                    Debe tener como mínimo 6 caracteres
                </p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                    <input type="passwordConfirm" name="passwordConfirm" class="form-control" ng-model="vm.passwordConfirm"
                           placeholder="Repita la contraseña" required match="vm.password" ng-minlength="6">
                </div>
            </div>
            <div class="form-group has-error">
                <p class="help-block" ng-show="form.passwordConfirm.$error.required && form.passwordConfirm.$error.required && vm.submitted">
                    Debes completar los campos.
                </p>
                <p class="help-block" ng-show="form.passwordConfirm.$error.match && form.passwordConfirm.$dirty && vm.submitted">
                    Las contraseñas no coinciden
                </p>
            </div>

            <div class="has-error">
                <p class="help-block ">{{vm.error}}</p>
            </div>

            <div class="row">
                <div class="col-xs-7 col-xs-offset-4">
                    <div class="form-group text-right">
                        <button class="btn btn-success" type="submit">Cambiar contraseña</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="alert alert-sm alert-success media effect-fade" ng-show="vm.success">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle alert-icon">
                    <i class="fa fa-envelope fa-lg"></i>
                </span>
            </div>
            <div class="media-body text-left">
                <h4 class="alert-title">Contraseña modificada!</h4>
                <p class="alert-message">
                    Ya puede acceder al sistema con sus nuevas credenciales
                </p>
            </div>
        </div>

    </div>
</div>
<div class="pad-ver">
    <a href="/login" ui-sref="login" class="btn-link mar-rgt">Ingresar al sistema</a>
    <a href="/singup" ui-sref="signup" class="btn-link mar-lft">Registrarse</a>
</div>
