<form class="form" name="vm.autoform.form" ng-hide="vm.success" ng-disabled="vm.autoform.isSaving" ng-submit="vm.submit()"
      novalidate autocomplete="off">

    <ng-include src="'/components/directives/autoform/templates/partials/fieldset.html'"></ng-include>
    <div class="text-right">
        <button class="btn btn-primary" ng-disabled="vm.autoform.isSaving" type="submit">Registrarse
        </button>
        <a class="btn btn-default" ng-disabled="vm.autoform.isSaving"
           ng-click="vm.resetForm()">Cancelar</a>
    </div>

</form>
