<form class="form form-short" name="vm.autoform.form" ng-hide="vm.success" ng-disabled="vm.autoform.isSaving" ng-submit="vm.submit()"
      novalidate autocomplete="off">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <ng-include src="'/components/directives/autoform/templates/partials/fieldset.html'"></ng-include>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-primary btn-block" ng-disabled="vm.autoform.isSaving || vm.autoform.disabled" type="submit">Registrarse
            </button>
            <a class="btn btn-default btn-block" ng-disabled="vm.autoform.isSaving"
               ng-click="vm.resetForm()">Cancelar</a>
        </div>
    </div>

</form>
